/*style tabel*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    
}
 
td,th {
    border-left: 1px solid transparent;
    border-width: 0 0 0 1px;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
    font-size: calc(0.22em + 0.22vw);
}

table caption{
    font: italic 85%/1 arial,sans-serif;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size:0.4rem;
}

table thead{
    background-color: #e0e0e0;
    text-align: center;
    vertical-align: bottom;
}

tbody tr:nth-child(even){
    background: #f5f5f5;
}

th:hover{
    background: #bbdefb;
}

td:hover{
    background: #ffb950b5 !important;
}


body
  {
  background-color:rgba(237,237,237,1);
  }

.nav-left-container {
    background: rgba(15,18,22,0.95);
    position: fixed;
    left: 0;
    top: 0;
    width: 8rem;
    z-index:80;
    height: 100%;
    transition: background-color 0.5s;
    
}
 
.nav-left-container li a {
    font-size: 0.5em;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    padding: 15px 20px 15px 25px;
    display: block;
    color: rgba(210,219,221,0.8);
}
 
.nav-left-container .active {
    border-left: 4px solid rgba(255,154,22,1);
}
 
.nav-left-container li:hover {
    background-color: rgba(15,18,22,0.95);
}
 
.nav-left-container .active>a {
    color: #ffffff;
}
 
.nav-left-container-small li a {
    font-size: 0.4em;
    padding: 7px 15px 7px 52px;
}
 
.nav-left-container-small {
    display: none;
}
.active .nav-left-container-small {
    display: block;
}

.content{
    position: relative;
    padding-left:8rem;
    overflow:auto;
    padding-bottom:1rem;
}

.content-flow{
    position: relative;
    left:8rem;
    overflow:auto;
    float:left;
    display:box;
}

.row{
    margin:0;
}

.input-group{
    width:70%
}

.input-group-text{
    font-size:inherit;
}


.error{
    padding:0.5rem;
    margin:1rem;
    margin-top:0.7rem;
    margin-bottom:0;
    font-size:0.5rem;

}

.intro{
    margin:1rem;
    margin-top:0.6rem;
    margin-bottom:0 !important;
}

.intro p,.intro h1,.intro h2,.intro h3,.intro h4,.intro h5,.intro div,
.intro select{
    font-size:0.5rem;
}

.Universal-Tools{
    -webkit-box-sizing: content-box;
    width:800px;
    margin:0.6rem;
    margin-top:0.2rem;
    margin-left:1rem;
    margin-bottom: 0;
}

.DITWidget {
  flex-shrink:0;
  float:left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0.9rem;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: rgba(45,45,45,1);
  text-align: center;
  background: rgba(255,255,255);
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.4) ;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.4) ;
  margin:10px;
  margin-left:1rem;
  margin-right:0;
  position:relative;
  font-size:1em;
  overflow:auto;
  resize:both;
}

.DITWidget-Tools{
    float:left;
    padding-top:0.6rem;
}

.DITWidget-Title{
    text-align:left;
    padding-bottom:0.3rem;
    font-size:0.75em;
}

.btn{
    padding:0.3rem;
    line-height:0.5rem;
    font-size:0.5rem !important;
}

.bi{
    font-size:0.5rem;
    vertical-align: middle;
    display: flex;
}

.icon-text
{
    margin:auto;
    margin-left:0.2rem;
    font-size:0.4rem;
}

.toast{
    font-size:0.5rem !important;
}

.func-input-list{
    margin-top:0.2rem !important;
    margin-bottom: 0.2rem !important;

}

.parameters{
    width:100%;
}

.parameters>input, .parameters>select, .parameters>textarea{
    font-size:0.5rem;
}

.popover{
    font-size:0.5rem;
}

.func-title{
    border-left: 10px SlateGray solid;
    padding-left: 0.5rem;
    margin-left: 0.3rem;
    margin-bottom:0;
}

.func-title-info{
    border-left: 10px MintCream solid;
    padding-left: 0.5rem;
    margin-left: 0.3rem;
}

.spinner-border{
    width:1rem !important;
    height:1rem !important;
    margin-right:0.5rem !important;
}

.checks{
    padding-left:1rem;

}


.border-lable-flt {
  display: block;
  position: relative;
}
.border-lable-flt label, .border-lable-flt > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
  top: -.5em;
  left: 0.75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
}
.border-lable-flt label::after, .border-lable-flt > span::after {
  content: " ";
  display: block;
  position: absolute;
  background: white;
  height: 2px;
  top: 50%;
  left: -.2em;
  right: -.2em;
  z-index: -1;
}
.border-lable-flt .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.border-lable-flt .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.border-lable-flt .form-control:placeholder-shown:not(:focus) + * {
  font-size: 150%;
  opacity: .5;
  top: .3em;
}

.input-group .border-lable-flt {
  display: table-cell;
}
.input-group .border-lable-flt .form-control {
  border-radius: 0.25rem;
}
.input-group .border-lable-flt:not(:last-child), .input-group .border-lable-flt:not(:last-child) .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
.input-group .border-lable-flt:not(:first-child), .input-group .border-lable-flt:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-append{margin-left:0;}

.form-group{margin-bottom:0;}

label{
    margin-bottom:0.25rem;
}

.custom-select{
    font-size:0.5rem;
}

.nav-link{
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.5rem;
}

.dashboard-title{
    font-size: 0.9rem;
    font-weight:600;
}

.dashboard-label{
    font-size: 0.5rem;
    font-weight: 370;
}

.dashboard-user{
    font-weight: 300;
    font-size: 0.35rem;
    margin-left:0.3rem;
}

.tm-tools{
    margin-left:0.5rem;
    font-size:0.5rem;
}

.tm-titles, .col-form-label, .form-control, .modal-title, .modal-close{
    font-size:0.5rem;
}

.col-form-label{
    padding-top:0;
}

.tm-times{
    font-size:0.4rem;
}

.tm-header{
    font-size:0.6rem;
    font-weight:630;
}

.pt-3{
    padding-top: 0.5rem!important;
}

.pb-3{
    padding-bottom: 0.5rem!important;
}

.modal-body{
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.modal-footer{
    padding-top:0.2rem;
    padding-bottom: 0.2rem;
}

.close{
    padding-top:0.2rem;
    
}

.content-note{
    text-align: left;
    font-size: 0.5rem;
}