<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HPB DIT - {{ TITLE|safe }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- ../../ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <!-- main css -->
    <link rel="stylesheet" href="../../static/css/Main.css"/>
    <link rel="stylesheet" href="../../static/css/Base.css"/>
    <script src="../../static/plugins/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script charset="utf-8" type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>
    <!-- plugins -->
    <script src="../../static/plugins/bs-custom-file-input.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.0.min.js"
            crossorigin="anonymous"></script>
</head>

<body>
    {% if session["DATA_LOADED"] != True %}
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="width:100%; height:100%; position:fixed;">
          <!-- Then put toasts within -->
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
              <i class="bi bi-arrow-up-square-fill"></i>
              <strong class="mr-auto" style="font-size:0.5rem;">Reading...</strong>
              <small>now</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body d-flex justify-content-center align-items-center">
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <p style="font-size:0.3rem;">Reading Data, Please Wait...</p> 
            </div>
          </div>
        </div>
    {% endif %}

    <ul class="nav-left-container">
        <nav class="navbar navbar-dark bg-dark" style="padding:0.35rem">
          <div class="container-fluid">
            <a class="navbar-brand logo" href="#"/>
            <img src="../../static/Pic/Logo_black.png" alt="" width="55" height="44"/>
            <p>DIT-PANEL</p>
            </a>
          </div>
        </nav>
      <li style="list-style: none">
      </li>
      <li>
        <a href="#">
          <span>User</span>
        </a>
        <ul class="nav-left-container-small">
          <li style="list-style: none">
          </li>
          <li>
            <a class="J_menuItem" href="{{url_for('template_management', username=username)}}">My Dashboard</a>
          </li>
          <li style="list-style: none">
          </li>
          <li>
            <a class="J_menuItem" href="">User Settings</a>
          </li>
          <li style="list-style: none">
          </li>
        </ul>
      </li>
      <li style="list-style: none">
      </li>
      <li>
        <a href="#">
          <span>DIT Toolkits</span>
        </a>
        <ul class="nav-left-container-small">
          <li style="list-style: none">
          </li>
          <li>
            <a class="J_menuItem" href="#">Main Panel</a>
          </li>
          <li style="list-style: none">
          </li>
          <li>
            <a class="J_menuItem" href="#">Settings</a>
          </li>
          <li style="list-style: none">
          </li>
        </ul>
      </li>
      <li style="list-style: none">
      </li>
      <li>
        <a href="#">
          <span>Save</span>
        </a>
        <ul class="nav-left-container-small">
          <li style="list-style: none">
          </li>
          <li>
            <a role="button" data-toggle="modal" data-target="#createTemplate" style="color:rgba(210,219,221,0.8);">
              <span>Save As Dashboard</span>
            </a>
          </li>
          <li style="list-style: none">
          </li>
          <li>
           <a href="javascript:postStyle();">
              <span>Save Layout</span>
            </a>
          </li>
          <li style="list-style: none">
          </li>
        </ul>
      </li>
      <li style="list-style: none">
      </li>
      <li>
        <a href="javascript:closeSession();">
          <span>Close Session</span>
        </a>
      </li>
    </ul>
    <div class="content">
        
        {% for warn in session['WARNING'] %}
            <!-- WARNING -->
            <div class="alert alert-danger error col-lg-9" role="alert">
                {{ warn|safe }}
            </div>
        {% endfor %}
        
        
        <!-- HEADER Upload -->
        {% if 'DATA_NAME' in session %}
            <div class="alert alert-dark error col-lg-9" role="alert">
                Loaded Data: {{ session['DATA_NAME']|safe }}
            {% else %}
            <div class="alert alert-warning error col-lg-9" role="alert">
                Please Upload or Choose Your Data
            {% endif %}
        </div>
        
        <!-- HEADER Registration -->
        {% if session["DATA_LOADED"] == True %}
            {% if session["PHASE"] == 1 %}
            <div class="alert alert-warning error col-lg-9" role="alert">
                Please Registrate Your Data to the Data Processor with the method "DataProcessing.Initialize"
            {% elif session["PHASE"] == 2 %}
            <div class="alert alert-warning error col-lg-9" role="alert">
                To Use the Data Analysis Tookits, Please Registrate Your Data with the Method "DA.Initialize" 
            {% else %}
            {% endif %}
            </div>
        {% endif %}
        
        {% if session["DATA_LOADED"] != True %}
            <!-- UPLOADING&CHOOSING PANEL -->
            <form action="panel-upload/{{username}}/" method="post" enctype="multipart/form-data" id="upload">
            <div class="input-group mb-3 intro">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="dataUpload" accept=".xlsx, .xls, .xlsm, .csv" name="file" />
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
                upload .xlsx data here
                </label>
              </div>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" 
                id="inputGroupFileAddon04" onclick=formSubmit(); style="font-size:0.5rem;">Load</button>
              </div>
            </div>
            </form>
          <form action="panel-data/{{username}}/" method="post" id="chooseData">  
            <div class="input-group mb-3 intro">
              <select class="custom-select" id="selectData" name="filelink">
                <option selected>Choose Available Data...</option>
                {% for d in data %}
                <option value={{data[d][0]+"|"+d}}>{{d}} <small>{{data[d][1]}}</small></option>
                {% endfor %}
              </select>
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" onclick=chooseDataSubmit();>Choose</button>
            </div>
            </form>
            </div>
        {% endif %}
        
        
        {% if session["DATA_LOADED"] == True %}
            <!-- FUNCTION SELECTION TOOLS - KEY PANEL -->
            
                    {{ get_panel(session) | safe }}
            
        {% endif %}
        
        {% if session["PHASE"] == 3 %}
            <!-- UNIVERSAL TOOLS -->
            <div class="Universal-Tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="toolsMethod('showDetails');">
                    <i class="bi bi-plus-square-fill"><span class="icon-text">Show Details</span></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="toolsMethod('downloadData');">
                    <i class="bi bi-download"><span class="icon-text">Download Current Data</span></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="toolsMethod('resetData');">
                    <i class="bi bi-arrow-repeat"><span class="icon-text">Reset Data</span></i>
                    </button>
                </div>
            </div>
        {% endif %}
        
        
        <div id="endOfAll">{{content|safe}}</div>
        
        <!-- Modal Create Template -->
            <div class="modal fade" id="createTemplate" tabindex="-1" role="dialog" aria-labelledby="CreateTemplate" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Create Dashboard</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="modal-close">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Dashboard Name:</label>
                        <input type="text" class="form-control" id="dashboardName" onFocus="if($('#dashboardName').val()=={{username}}_default){this.value=''}" value="{{username}}_default">
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createTrigger();">Create</button>
                  </div>
                </div>
              </div>
            </div>
        
    </div>

    <script id="mainScript">
        $(function () {
          $('[data-toggle="popover"]').popover()
        });
    
        $('.nav-left-container').on('click','li',function(){
        $(this).find('.glyphicon-menu-right').removeClass('glyphicon-menu-right').addClass('glyphicon-menu-down');
        $(this).addClass('active').children('.nav-left-container-small').slideDown();
        
        $(this).siblings().removeClass('active').children('.nav-left-container-small').slideUp()
        $(this).siblings().find('.glyphicon-menu-down').removeClass('glyphicon-menu-down').addClass('glyphicon-menu-right');
        });
        
        $(document).ready(function() {
          bsCustomFileInput.init()
        });
        
        function formSubmit() {
            $('.nav-left-container').css('filter', 'blur(5px)');
            $('.content').css('filter', 'blur(5px)');
            $('.toast').toast('show');
            var fileInput = $('#dataUpload').get(0).files[0];
            if(fileInput){
                document.getElementById("upload").submit();
            }else{
        		alert("Please Select Your Data");
        	}
        }
        
        function hideAllFunc(){
            {% set func_i = namespace(value=1) %}
            {% for tab in current_func %}
                {% for func in current_func[tab] %}
                    $('#FUNC{{func_i.value}}').hide();
                    {% set func_i.value = func_i.value + 1 %}
                {% endfor %}
            {% endfor %}
        }
        hideAllFunc();
        
        $(".funcSelector").change(function(){
                if ($(this).val() != "Select A Method..."){
                    hideAllFunc();
                    funcId = "#" + $(this).val();
                    $(funcId).show();
                }
                else{
                    hideAllFunc();
                }
            }
        )
        
        function chooseDataSubmit(){
            if($('#selectData').val() == 'Choose Available Data...'){
                alert('Please choose a file');
            } 
            else{
            $('.nav-left-container').css('filter', 'blur(5px)');
            $('.content').css('filter', 'blur(5px)');
            $('.toast').toast('show');
            document.getElementById("chooseData").submit();
            }
        }
        
        function submitMethod(id){
            hideAllFunc();
            $("#endOfAll").prepend('<div class="alert alert-dark error col-lg-9 overflow-auto" role="alert" id="status" style="height:10rem">Running -> </div>');
            receiveStatus();
            let form = new FormData(document.getElementById(id));
            var request = new XMLHttpRequest();
            request.open("POST", "{{ url_for('use_function', username=username) }}");
            request.send(form);
            
            request.onreadystatechange = function() { 
                if (request.readyState == 4 && request.status == 200) { 
                    window.location="{{url_for('render_panel_func', username=username)}}";
                }
            };
        }
        
        function ajaxMethod(id){
            let form = new FormData(document.getElementById(id));
            hideAllFunc();
            $("#endOfAll").prepend('<div class="alert alert-dark error col-lg-9 overflow-auto" role="alert" id="status" style="height:10rem">Running -> </div>');
            $.ajax({
                url:"{{ url_for('use_function', username=username) }}",
                type:"post",
                data:form,
                dataType: 'json',
                processData:false,
                contentType:false,
                success:function(arg){ 
                        receiveStatus();
                        $('#status').remove();
                        if(arg.hasOwnProperty("success")){alert(arg["success"])}
                        if(arg.hasOwnProperty("error")){alert(arg["error"])}
                        if(arg.hasOwnProperty("script")){eval(arg["script"])}
                        if(arg.hasOwnProperty("content")){$('#endOfAll').append($(arg["content"]))}
                },
                error:function(e){
                        $('#status').remove();
                        alert("Error Occured");
                }
            })

        }
        
        function receiveStatus(){
            var get_status = {
                url:"{{ url_for('sending', username=username) }}",
                type:"GET",
                dataType: 'json',
                success:function(arg){
                        if (!(arg.includes('>> End')))
                        {
                        $('#status').append(arg);
                        console.log(arg);
                        $.ajax(get_status);
                        }
                        else{
                        $('#status').append(arg);
                        $('#status').remove();
                        }
                },
                error:function(e){
                        $.ajax(get_status);
                }
                }
            var start_getting = $.ajax(get_status);
        }
        
        function toolsMethod(func){
            const funcname = {'showDetails':"DA.Show Details", 'downloadData':"DA.download", 'resetData':"DA.Reset Data"}
            let form = new FormData();
            form.append("func-name", funcname[func]);
            if(func=='showDetails'){form.append(scale, "100")}
            hideAllFunc();
            $("#endOfAll").prepend('<div class="alert alert-dark error col-lg-9 overflow-auto" role="alert" id="status" style="height:10rem">Running -> </div>');
            $.ajax({
                url:"{{ url_for('use_function', username=username) }}",
                type:"post",
                data:form,
                dataType: 'json',
                processData:false,
                contentType:false,
                success:function(arg){ 
                        receiveStatus();
                        $('#status').remove();
                        if(arg.hasOwnProperty("success")){alert(arg["success"])}
                        if(arg.hasOwnProperty("error")){alert(arg["error"])}
                        if(arg.hasOwnProperty("script")){eval(arg["script"])}
                        if(arg.hasOwnProperty("content")){$('#endOfAll').append($(arg["content"]))}
                },
                error:function(e){
                        $('#status').remove();
                        alert("Error Occured");
                }
            })
        }
        
        function deleteElement(btn_id){
            b = '#' + btn_id;
            if(["SELECT", "INPUT"].includes($(b).prev().prev().prop('nodeName'))){$(b).prev().remove()}
        }
        
        function get_view(template_name){
            let form = new FormData();
            form.append("template_name", template_name);
            $.ajax({
                url:"{{ url_for('save_template', username=username) }}",
                type:"post",
                data:form,
                dataType: 'json',
                processData:false,
                contentType:false,
                success:function(arg){ 
                        if(arg.hasOwnProperty("success")){alert(arg["success"])}
                        if(arg.hasOwnProperty("error")){alert(arg["error"])}
                        if(arg.hasOwnProperty("script")){eval(arg["script"])}
                        if(arg.hasOwnProperty("content")){$('#endOfAll').append($(arg["content"]))}
                },
                error:function(e){
                        $('#status').remove();
                        alert("Error Occured");
                }
            })
        }
        
        function postStyle(){
            let resLen = $('#endOfAll').children().length;
            let res = {}
            for(let i=0;i<resLen;i++){
                let id = $('#endOfAll').children()[i].getAttribute("id")
                let outerStyle = $('#endOfAll').children()[i].getAttribute("style")
                let changedTitle = $($($('#endOfAll').children()[i]).children()[0]).children()[0].innerHTML
                let displayContent = $($('#endOfAll').children()[i]).children()[1].getAttribute("style")
                res[id] = [outerStyle, changedTitle, displayContent]
            }
            $.ajax({
                url:"{{ url_for('save_style', username=username)}}",
                type:"post",
                data:JSON.stringify(res),
                dataType: 'json',
                processData:false,
                contentType:'application/json; charset=UTF-8',
                success:function(arg){ 
                        if(arg.hasOwnProperty("success")){alert(arg["success"])}
                        if(arg.hasOwnProperty("error")){alert(arg["error"])}
                        if(arg.hasOwnProperty("script")){eval(arg["script"])}
                        if(arg.hasOwnProperty("content")){$('#endOfAll').append($(arg["content"]))}
                },
                error:function(e){
                        $('#status').remove();
                        alert("Error Occured");
                }
            })
            
        }
        
        function closeDiv(result_id){
            res = {'result_id': result_id}
            $.ajax({
                url:"{{ url_for('close_div', username=username)}}",
                type:"post",
                data:JSON.stringify(res),
                dataType: 'json',
                processData:false,
                contentType:'application/json; charset=UTF-8',
                success:function(arg){ 
                        if(arg.hasOwnProperty("success")){alert(arg["success"])}
                        if(arg.hasOwnProperty("error")){alert(arg["error"])}
                        if(arg.hasOwnProperty("script")){eval(arg["script"])}
                        if(arg.hasOwnProperty("content")){$('#endOfAll').append($(arg["content"]))}
                },
                error:function(e){
                        $('#status').remove();
                        alert("Error Occured");
                }
            })
            
        }
        
        function useModel(username, template_name){
            hideAllFunc();
            $("#endOfAll").prepend('<div class="alert alert-dark error col-lg-9 overflow-auto" role="alert" id="status" style="height:10rem">Running -> </div>');
            url = "/model/" + str(username) + "/" + str(template_name) + "/";
            window.location.href = url;
        }
        
        function createTrigger(){
            id = "#" + "dashboardName";
            name = $(id).val();
            if(name==''){alert('Please Enter A Name')}
            else{get_view(name)}
        }
        
        function closeSession(){
            url = "/session-clear/" + "{{username}}/";
            $.get(url, function(result){window.location.href = "{{url_for('login')}}"})
        }
        
        {{script|safe}}
        
    </script>
</body>

</html>